<div class="form-style-9">
    <form [formGroup]="categoryForm" (ngSubmit)="save()">
    <h1>EDIT CATEGORY</h1>
    <label><b>Code category: {{ category.codCategory }}</b></label>
    <ul>
    <li>

        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="description">
            <span class="label">description</span>
            <span class="focus-bg"></span>
          </label>
          &nbsp;&nbsp;
        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="note">
            <span class="label">note</span>
            <span class="focus-bg"></span>
          </label>
          &nbsp;&nbsp;
          
     </li>
   
    <li>
    <input type="submit" value="SALVA"/>&nbsp;&nbsp;
    <input type="button" routerLink="/categories" value="ANNULLA">
    </li>
    </ul>
    </form>
    </div>