<br>
<br>
<br>
<div class="corpo">
    <h1 class="colo">Fattura Master</h1>
    <button routerLink="create" type="button" class="btn btn-primary colo2">
        <font color="white">CREA NUOVA FATTURA</font>
    </button><br>
    <br>
    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger" style="width: 100%;">
        <thead>
            <tr>
                <th class="colo3">Codice fattura</th>
                <th class="colo3">Numero fattura</th>
                <th class="colo3">Cliente</th>
                <th class="colo3">Tipo pagamento</th>
                <th class="colo3">Numero ordine</th>
                <th class="colo3">Data fattura</th>
                <th class="colo3"></th>
                <th class="colo3"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoiceMaster of invoicesMaster | async">
                <td>{{ invoiceMaster.codInvoice }}</td>
                <td>{{ invoiceMaster.invoiceNumber }}</td>
                <td>{{ invoiceMaster.client }}</td>
                <td>{{ invoiceMaster.payment }}</td>
                <td>{{ invoiceMaster.orderNumber }}</td>
                <td>{{ invoiceMaster.date }} </td>
                <td class=" sp"><button (click)="goToDetail(invoiceMaster.codInvoice)" type="button"
                        class="btn btn-primary">
                        <font color="white">Modifica</font>
                    </button></td>
                <td class=" sp"><button (click)="delete(invoiceMaster.codInvoice)" type="button"
                        class="btn btn-danger ">Cancella</button></td>
            </tr>
        </tbody>
        <!-- <td>{{ item.type == "vf" ? question.correctAnswerBoolean : question.correctAnswerText }}</td>
        <td>
            <div *ngFor="let skill of skills | async">
                <div *ngIf="skill.id == question.idSkill">
                        {{ skill.description }}
                </div>
            </div>
        </td>
        <td>{{ item.wrongAnswers != '' ? question.wrongAnswers : "-" }}</td> -->
    </table>
    <button routerLink="/home" type="button" class="btn btn-primary colo2">
        <font color="white">TORNA ALLA HOME</font>
    </button>
</div>