button {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.corpo {
  margin-left: 2%;
  margin-right: 2%;
}

.colo {
  color: #0066cc;
  margin-left: 590px;
}

.colo2 {
  color: #0066cc;

}

.colo3 {
  background-color: #0066cc;
  color: white;
  text-align: center;
}

.sp {
  text-align: center;
}
