<div class="corpo">
    <h1>Misure</h1>
    <button routerLink="create">Crea una nuova misura</button><br>
    <br>
    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
        style="width: 100%;">
        <thead>
            <tr>
                <th>Codice Misura</th>
                <th>Descrizione</th>
                <th>Simbolo</th>
                <th>Note</th>
                
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let measure of measures">
                <td>{{ measure.codMeasure }}</td>
                <td>{{ measure.description }}</td>
                <td>{{ measure.symbol }}</td>
                <td>{{ measure.note }}</td>
    
                <td><button [routerLink]="['detail', measure.codItem]">Edit</button></td>
                <td><button (click)="delete(measure)">Delete</button></td>

            </tr>
           
            
        </tbody>
        

    </table>
    <button routerLink="/home">TORNA ALLA HOME</button>
</div>