
<div class="corpo">
    <h1 class="colo">Categorie</h1>
    <button routerLink="create" type="button" class="btn btn-primary colo2">
        <font color="white">CREA NUOVA CATEGOIRA</font>
    </button><br>
    <br>
    <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
        style="width: 100%;">
        <thead>
            <tr>
                <th class="colo3">Codice Categoria</th>
                <th class="colo3">Descrizione</th>
                <th class="colo3">>Note</th>
                <th class="colo3"></th>
                <th class="colo3"></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories | async">
                <td>{{ category.codCategory }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.note }}</td>
                <td class=" sp"><button (click)="goToDetail(category.codCategory)" type="button"
                        class="btn btn-primary">
                        <font color="white">Edit</font>
                    </button></td>
                <td class=" sp"><button (click)="delete(category)" type="button" class="btn btn-danger ">Delete</button>
                </td>

            </tr>

        </tbody>

    </table>
    <button routerLink="/home" type="button" class="btn btn-primary colo2">
        <font color="white">TORNA ALLA HOME</font>
    </button>
</div>