<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />

	<style>

	</style>

</head>
<br>

<div id="header-wrapper">
	<div id="header" class="container">
		<!-- <div id="logo">
			<h1><a href="#">Gestionale 2.0</a></h1>
			<span>Il nuovo modo di gestire la tua azienda</span> </div> -->
		<div id="menu">
			<ul>
				<li class="current_page_item hov"><a href="" routerLink="/home" accesskey="1" title="">Homepage</a></li>
				<li><a href="" class="hov" routerLink="/clients" accesskey="2" title="">Clienti</a></li>
				<li><a href="" class="hov" routerLink="/items" accesskey="3" title="">Articoli</a></li>
				<li><a href="" class="hov" routerLink="/invoices" accesskey="4" title="">Fattura</a></li>
				<li><a href="" class="hov" routerLink="/measures" accesskey="2" title="">Misure</a></li>
				<li><a href="" class="hov" routerLink="/vat" accesskey="3" title="">IVA</a></li>
				<li><a href="" class="hov" routerLink="/categories" accesskey="4" title="">Categorie</a></li>
				<li><a href="" class="hov" routerLink="/payments" accesskey="4" title="">Pagamenti</a></li>

			</ul>
		</div>
	</div>
</div>
<div id="three-column" class="grid-container">

	<div class="clienti"> <span class="icon icon-wrench"></span>
		
		<!-- <p>Gestisci la tua lista clienti, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="" style="text-decoration: none ; color:white" routerLink="/clients" class="button"
			data-toggle="tooltip" data-placement="bottom"
			title="Gestisci la tua lista clienti, aggiungendone di nuovi o eliminadone alcuni">Clienti</a>
	</div>
	<div class="articoli"> <span class="icon icon-cogs"></span>
		
		<!-- <p>Gestisci la tua lista prodotti, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="" style="text-decoration: none ; color:white" routerLink="/items" class="button" data-toggle="tooltip"
			data-placement="bottom"
			title="Gestisci la tua lista prodotti, aggiungendone di nuovi o eliminadone alcuni">Articoli</a>
	</div>
	<div class="fatture"> <span class="icon icon-legal"></span>
		
		<!-- <p>Calcola la tua fattura direttamente da qua in pochi e semplici passaggi.</p> -->
		<a href="#" style="text-decoration: none ; color:white" class="button" routerLink="/invoices"
			data-toggle="tooltip" data-placement="bottom"
			title="Gestisci la tua fattura direttamente da qua in pochi semplici passaggi.">Fattura</a>
	</div>

	<div class="pagamenti"> <span class="far fa-star"></span> 
		
		<!-- <p>Calcola la tua fattura direttamente da qua in pochi e semplici passaggi.</p> -->
		<a href="#" style="text-decoration: none ; color:white" class="button" routerLink="/payments"
			data-toggle="tooltip" data-placement="bottom"
			title="Gestisci la tua fattura direttamente da qua in pochi semplici passaggi.">Pagamenti</a>
	</div>



	<div><span class="arrow-down"></span></div>
	<div class="misure"> <span class="icon icon-dribbble"></span>
		
		<!-- <p>Gestisci la tua lista misure, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="" style="text-decoration: none ; color:white" routerLink="/measures" class="button"
			data-toggle="tooltip" data-placement="bottom"
			title="Gestisci la tua lista misure, aggiungendone di nuovi o eliminadone alcuni">Misure</a>
	</div>
	<div class="iva"> <span class="icon icon-rss"></span>
		
		<!-- <p>Gestisci la tua lista iva, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="" style="text-decoration: none ; color:white" routerLink="/vat" class="button" data-toggle="tooltip"
			data-placement="bottom"
			title="Gestisci la tua lista IVA, aggiungendone di nuovi o eliminadone alcuni">IVA</a>
	</div>
	<div class="categorie"> <span class="icon icon-tumblr"></span>
		
		<!-- <p>Gestisci la tua lista categoire, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="#" style="text-decoration: none ; color:white" routerLink="/categories" class="button"
			data-toggle="tooltip" data-placement="bottom"
			title="Gestisci la tua lista categoire, aggiungendone di nuovi o eliminadone alcuni">Categorie</a>
	</div>

</div>



<div id="wrapper4">
	<div id="footer" class="container">
		<div>
			<header class="title">
				<h2>Seguici</h2>
				<span class="byline">I nostri canali social.</span>
			</header>
			<ul class="contact">
				<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
				<li><a href="#" class="icon icon-facebook"><span></span></a></li>
				<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
				<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
				<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
			</ul>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. </p>
</div>


<script>
	$('#example').tooltip({ boundary: 'window' })
</script>