<div class="parent">
    <div class="div1"><button class="learn-more" routerLink="../items">ARTICOLI</button></div>
    <div class="div2"><button class="learn-more" routerLink="../clients">CLIENTI</button></div>
    <div class="div3"><button class="learn-more" routerLink="../invoices">FATTURE</button></div>
    <div class="div4"><button class="learn-more" routerLink="../measures">MISURE</button></div>
    <div class="div5"><button class="learn-more" routerLink="../vat">IVA</button></div>
    <div class="div6"><button class="learn-more" routerLink="../categories">Categoria</button></div>
    <!-- <div class="div5"><button class="learn-more" routerLink="../../admin/candidate">CANDIDATE</button></div>
    <div class="div6"><button class="learn-more" routerLink="../../form">FORM</button></div> -->
</div>