<!---<div class="parent">
    <div class="div1"><button class="learn-more" routerLink="../items">ARTICOLI</button></div>
    <div class="div2"><button class="learn-more" routerLink="../clients">CLIENTI</button></div>
    <div class="div3"><button class="learn-more" routerLink="../invoices">FATTURE</button></div>
    <div class="div4"><button class="learn-more" routerLink="../measures">MISURE</button></div>
    <div class="div5"><button class="learn-more" routerLink="../vat">IVA</button></div>
    <div class="div6"><button class="learn-more" routerLink="../categories">CATEGORIE</button></div>
</div>


--->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
   
   

    
    </head>
<div id="header-wrapper">
	<div id="header" class="container">
		<!-- <div id="logo">
			<h1><a href="#">Gestionale 2.0</a></h1>
			<span>Il nuovo modo di gestire la tua azienda</span> </div> -->
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="index2.php" accesskey="1" title="">Homepage</a></li>
				<li><a href="clienti2.php" accesskey="2" title="">Clienti</a></li>
				<li><a href="prodotti2.php" accesskey="3" title="">Prodotti</a></li>
				<li><a href="#" accesskey="4" title="">Fattura</a></li>
                <li><a href="clienti2.php" accesskey="2" title="">Misure</a></li>
				<li><a href="prodotti2.php" accesskey="3" title="">IVA</a></li>
				<li><a href="#" accesskey="4" title="">Categoire</a></li>

			</ul>
		</div>
	</div>
</div>
<div id="three-column" class="container">
	<div><span class="arrow-down"></span></div>
	<div id="tbox1"> <span class="icon icon-wrench"></span>
		<div class="title">
			<!-- <h2>Clienti</h2> -->
		</div>
		<!-- <p>Gestisci la tua lista clienti, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="clienti2.php" class="button">Clienti</a> </div>
	<div id="tbox2"> <span class="icon icon-cogs"></span>
		<div class="title">
			<!-- <h2>Articoli</h2> -->
		</div>
		<!-- <p>Gestisci la tua lista prodotti, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="prodotti2.php" class="button">Articoli</a> </div>
	<div id="tbox3"> <span class="icon icon-legal"></span>
		<div class="title">
			<!-- <h2>Fattura</h2> -->
		</div>
		<!-- <p>Calcola la tua fattura direttamente da qua in pochi e semplici passaggi.</p> -->
		<a href="#" class="button">Fattura</a> </div>
		


        <div><span class="arrow-down"></span></div>
	<div id="tbox1"> <span class="icon icon-dribbble"></span>
		<div class="title">
			<!-- <h2>Misure</h2> -->
		</div>
		<!-- <p>Gestisci la tua lista misure, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="clienti2.php" class="button">Misure</a> </div>
	<div id="tbox2"> <span class="icon icon-rss"></span>
		<div class="title">
			<!-- <h2>IVA</h2> -->
		</div>
		<!-- <p>Gestisci la tua lista iva, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="prodotti2.php" class="button">IVA</a> </div>
	<div id="tbox3"> <span class="icon icon-tumblr"></span>
		<div class="title">
			<!-- <h2>Categorie</h2> -->
		</div>
		<!-- <p>Gestisci la tua lista categoire, aggiungendone di nuovi o eliminadone alcuni.</p> -->
		<a href="#" class="button">Categorie</a> </div>
		
</div>



<div id="wrapper4">
	<div id="footer" class="container">
		<div>
			<header class="title">
				<h2>Seguici</h2>
				<span class="byline">I nostri canali social.</span> </header>
			<ul class="contact">
				<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
				<li><a href="#" class="icon icon-facebook"><span></span></a></li>
				<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
				<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
				<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
			</ul>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. </p>
</div>