
<div class="form-style-9">
    <h1 class="colo">Crea Fattura</h1>

    <!-- <igx-tabs>
        <igx-tabs-group label="MASTER"> -->
            <form [formGroup]="invoiceMasterForm">
                <ul>
                    <li style="list-style: none;"> 
                      <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="NumeroFattura">
                        <span class="label">Numero Fattura</span>
                        <span class="focus-bg"></span>
                      </label>
                      &nbsp;&nbsp;
                      <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="NumeroOrdine">
                        <span class="label">Numero Ordine</span>
                        <span class="focus-bg"></span>
                      </label>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="TotaleProdotti">
                        <span class="label">Totale Prodotti</span>
                        <span class="focus-bg"></span>
                      </label>
                      &nbsp;&nbsp;
                      <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="TotaleSerzivi">
                        <span class="label">Totale Servizi</span>
                        <span class="focus-bg"></span>
                      </label>
                    </li>  
                    <li style="list-style: none;"> 
                    <label for="inp" class="inp">
                        <div>
                            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openXl(content)">Seleziona cliente</button>
                            <ng-template #content let-modal  style="max-width: none; margin: none;">
                                <div class="modal-header">
                                  <h4 class="modal-title">Clienti</h4>
                                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped table-bordered table-sm row-border hover" 
                                    style="width: 100%;" dt-columns="dtColumns">
                                    <thead>
                                        <tr>
                                            <th class="colo3">Codice Cliente</th>
                                            <th class="colo3">Ragione sociale</th>
                                            <th class="colo3">Partita IVA</th>
                                            <th class="colo3">Codice fiscale</th>
                                            <th class="colo3">Mail</th>
                                            <th class="colo3">Telefono</th>
                                            <th class="colo3">Cellulare</th>
                                            <th class="colo3">Città</th>
                                            <th class="colo3">Indirizzo&nbsp;&nbsp;</th>
                                            <th class="colo3">Provincia</th>
                                            <th class="colo3">CAP</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let client of clients | async">
                                            <td>{{ client.codClient }}</td>
                                            <td>{{ client.businessName }}</td>
                                            <td>{{ client.piva }}</td>
                                            <td>{{ client.fiscalCod }}</td>
                                            <td>{{ client.mail }}</td>
                                            <td>{{ client.tel }}</td>
                                            <td>{{ client.cel }}</td>
                                            <td>{{ client.city }}</td>
                                            <td>{{ client.address }}</td>
                                            <td>{{ client.province }}</td>
                                            <td>{{ client.cap }}</td>
                                            <button  type="button" class="btn btn-primary" (click)="modal.close('Close click'); addClientSelected(client)">Seleziona</button>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </ng-template> <br>
        
                            <label class="label">Cliente: {{ clientSelected != null ? clientSelected.businessName : ""}}</label>
                        </div>
                      </label>
                       &nbsp;&nbsp;
                      
                        <label for="inp" class="inp">
                            <label style="color:#0066cc ;">METODO PAGAMENTO:</label>&nbsp;&nbsp;
                            <span class="focus-bg"></span>
                            <select formControlName="payment">
                                <option value="Contanti">Contanti</option>
                                <option value="Bonifico">Bonifico</option>
                                <option value="Assegno">Assegno</option>
                           
                           </select></label>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <label for="inp" class="inp">
                            <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="ScontoDiCoda">
                            <span class="label">Sconto di Coda</span>
                            <span class="focus-bg"></span>
                          </label>
                          &nbsp;&nbsp;
                          <label for="inp" class="inp">
                            <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="TotaleScontoCoda">
                            <span class="label">Totale Sconto Coda</span>
                            <span class="focus-bg"></span>
                          </label>
                </li>
                <li style="list-style: none;"> 
                    <label for="inp" class="inp">
                
                    <input type="date" name="bday">
                    <span class="focus-bg"></span>
                       </label>
                    &nbsp;&nbsp;
                    <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="TotaleScontoRiga">
                        <span class="label">Totale Sconto Riga</span>
                        <span class="focus-bg"></span>
                      </label>
                      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                      <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="TotaleSconto">
                        <span class="label">Totale Sconto</span>
                        <span class="focus-bg"></span>
                      </label>
                      &nbsp;&nbsp;
                      <label for="inp" class="inp">
                        <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="Imponibile">
                        <span class="label">Imponibile</span>
                        <span class="focus-bg"></span>
                      </label>
              
              
                </li>
                <li style="list-style: none;"> 
            
                <label for="inp" class="inp">
                    <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="TotaleIVA">
                    <span class="label">Totale IVA</span>
                    <span class="focus-bg"></span>
                  </label>
                  &nbsp;&nbsp;&nbsp; &nbsp;
                  <label for="inp" class="inp">
                    <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="TotaleFattura">
                    <span class="label">Totale Fattura</span>
                    <span class="focus-bg"></span>
                  </label>
          
            </li>
            
            
            
            </ul>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                    <!-- <div> -->
                    <!-- <label><b>Type:</b></label> -->
                    <!-- <label>Numero Fattura:</label> <input placeholder="Numero fattura" formControlName="invoiceNumber">
                </div>
                <div>
                    <label>Cliente:</label>
                    <select formControlName="client">
                        <option *ngFor="let client of clients | async" value="{{client.codClient}}">
                            {{client.businessName}}</option>
                    </select>
                </div>
                <div> -->
                    <!-- <label><b>Type:</b></label> -->
                    <!-- <input placeholder="Numero ordine" formControlName="orderNumber">
                </div>
                <div>
                    <label>Metodo di pagamento:</label>
                    <select formControlName="payment">
                        <option value="Contanti">Contanti</option>
                        <option value="Bonifico">Bonifico</option>
                        <option value="Assegno">Assegno</option>
                    </select>
                </div>
                <div> -->
                    <!-- <label><b>Type:</b></label> -->
                    <!-- <input placeholder="Type" formControlName="date"> -->

                    <!-- <ejs-datetimepicker placeholder='Select a date' formControlName="date" [value]='dateValue'
                        format='yyyy.MM.dd'></ejs-datetimepicker>
                </div>
            </form> -->
       <!---</igx-tabs-group> 
  <igx-tabs-group label="SUMMARY"> -->
    <!-- <form [formGroup]="invoiceSummaryForm" (onChange)="prova()">
        <div>
            <label>Totale prodotti: </label>
            <input placeholder="Totale prodotti" formControlName="totalProducts">
            <label>Totale servizi: </label>
            <input placeholder="Totale servizi" formControlName="totalServices">
        </div>
        <div>
            <label>Sconto di coda: </label>
            <input placeholder="Sconto di coda" formControlName="tailDiscount">
            <label>Totale sconto di coda: </label>
            <input placeholder="Totale sconto di coda" formControlName="totalTileDiscount">
        </div>
        <div>
            <label>Totale sconto di riga: </label>
            <input placeholder="Totale sconto di riga" formControlName="totalLineDiscount">
        </div>
        <div>
            <label>Totale sconto: </label>
            <input placeholder="Totale sconto" formControlName="totalDiscount">
        </div>
        <div>
            <label>Imponibile: </label>
            <input placeholder="Imponibile" formControlName="taxable">
        </div>
        <div>
            <label>Totale IVA: </label>
            <input placeholder="Totale IVA" formControlName="totalVat">
        </div>
        <div>
            <label>TOTALE FATTURA: </label>
            <input placeholder="TOTALE FATTURA" formControlName="totalAmount">
        </div> -->
        <!-- <button type="submit">AGGIUNGI</button> &nbsp; -->
    <!-- </form> -->
<!-- </igx-tabs-group>
</igx-tabs> -->

      <!---  <igx-tabs-group label="DETAIL"> -->
        <div>
            <label style="color:#0066cc">SELEZIONA ARTICOLO DA AGGIUNGERE:</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <select formControlName="codItem" #itemSelected>
                <option *ngFor="let item of items | async" value="{{item.codItem}}">{{item.description}}
                </option>
            </select>
        </div>
            <div>
                <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
                    <thead>
                        <tr class="colo2">
                            <th>Codice articolo</th>
                            <th>Descrizione</th>
                            <th>Unità di misura</th>
                            <th>Quantità</th>
                            <th>Lotto</th>
                            <th>Data scadenza</th>
                            <th>Prezzo unitario</th>
                            <th>Sconto</th>
                            <th>Importo sconto</th>
                            <th>Imponibile</th>
                            <th>Iva</th>
                            <th>Importo Iva</th>
                            <th>Totale riga</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let invoiceDetail of provisionalInvoiceDetailList | async">
                            <td>{{ invoiceDetail.codItem }}</td>
                            <td>{{ invoiceDetail.description }}</td>
                            <td>{{ invoiceDetail.measure }}</td>
                            <td>{{ invoiceDetail.quantity }}</td>
                            <td>{{ invoiceDetail.lot }}</td>
                            <td>{{ invoiceDetail.expiry }}</td>
                            <td>{{ invoiceDetail.unitPrice }}</td>
                            <td>{{ invoiceDetail.discount }}</td>
                            <td>{{ invoiceDetail.totalDiscount }}</td>
                            <td>{{ invoiceDetail.taxable }}</td>
                            <td>{{ invoiceDetail.codVat }}</td>
                            <td>{{ invoiceDetail.totalVat }}</td>
                            <td>{{ invoiceDetail.totalLine }}</td>
                       
                        </tr>
                    </tbody>
                    <!-- <td>
                        <div *ngFor="let skill of skills | async">
                            <div *ngIf="skill.id == question.idSkill">
                                    {{ skill.description }}
                            </div>
                        </div>
                    </td> -->
                </table>
            </div>

            <!-- <button onclick="myFunctionOpen()">AGGIUNGI PRODOTTO</button> -->
            <div>
                <!-- id="myDIV" -->
                <form [formGroup]="invoiceDetailForm" (ngSubmit)="addProvisionalInvoiceDetail()">
                  
                    <div *ngFor="let item of items | async">
                        <div *ngIf="item.codItem == itemSelected.value">
                            <div>
                                <input placeholder="Descrizione" formControlName="description"
                                    [value]="item.description">
                                <input placeholder="Unità di misura" formControlName="measure" [value]="item.measure">
                                <input placeholder="Iva" formControlName="codVat" [value]="item.vat">
                                <input placeholder="Prezzo" formControlName="unitPrice" [value]="item.price">
                            </div>
                            <div>
                                <input placeholder="Quantità" formControlName="quantity">
                            </div>
                            <div>
                                <input placeholder="Lotto" formControlName="lot">
                                <input type="date" placeholder="Scadenza" formControlName="expiry">
                            </div>
                            <div>
                                <input placeholder="Sconto" formControlName="discount">
                            </div>
                            <br>
                            <button type="submit"class="btn btn-primary">
                                <font color="white">AGGIUNGI</font></button>
                                
                        </div>
                    </div>
                </form>
            </div>
        <!-- </igx-tabs-group>-->


      


<!-- </div> -->
<br>
&nbsp;&nbsp;<button type="button" (click)="save(); deleteProvisionalCalculations()" class="btn btn-primary">
    <font color="white">SAVE</font>
</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" (click)="deleteProvisionalCalculations()" class="btn btn-danger ">ANNULLA</button>