<div class="corpo">
    <h1>CREATE INVOICE</h1>
    <button type="button" (click)="save(); deleteProvisionalCalculations()">SAVE</button>
    <button type="button" (click)="deleteProvisionalCalculations()">ANNULLA</button>

    <igx-tabs>
        <igx-tabs-group label="MASTER">
            <form [formGroup]="invoiceMasterForm">

                
                <div >
                    <!-- <label><b>Type:</b></label> -->
                    <input placeholder="Numero fattura" formControlName="invoiceNumber">
                </div>
                <div>
                    <label>Cliente:</label>
                    <select formControlName="client">
                        <option *ngFor="let client of clients | async" value="{{client.codClient}}">{{client.businessName}}</option>
                    </select>
                </div>
                <div>
                    <!-- <label><b>Type:</b></label> -->
                    <input placeholder="Numero ordine" formControlName="orderNumber">
                </div>
                <div>
                    <label>Metodo di pagamento:</label>
                    <select formControlName="payment">
                        <option value="Contanti">Contanti</option>
                        <option value="Bonifico">Bonifico</option>
                        <option value="Assegno">Assegno</option>
                    </select>
                </div>
                <div>
                    <!-- <label><b>Type:</b></label> -->
                    <!-- <input placeholder="Type" formControlName="date"> -->
                    <ejs-datetimepicker placeholder='Select a date' formControlName="date" [value]= 'dateValue' format ='yyyy.MM.dd'></ejs-datetimepicker>
                </div>
            </form>
        </igx-tabs-group>


        <igx-tabs-group label="DETAIL">
            <div>
                <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Codice articolo</th>
                            <th>Descrizione</th>
                            <th>Unità di misura</th>
                            <th>Quantità</th>
                            <th>Lotto</th>
                            <th>Data scadenza</th>
                            <th>Prezzo unitario</th>
                            <th>Sconto</th>
                            <th>Importo sconto</th>
                            <th>Imponibile</th>
                            <th>Iva</th>
                            <th>Importo Iva</th>
                            <th>Totale riga</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let invoiceDetail of provisionalInvoiceDetailList | async">
                            <td>{{ invoiceDetail.codItem }}</td>
                            <td>{{ invoiceDetail.description }}</td>
                            <td>{{ invoiceDetail.measure }}</td>
                            <td>{{ invoiceDetail.quantity }}</td>
                            <td>{{ invoiceDetail.lot }}</td>
                            <td>{{ invoiceDetail.expiry }}</td>
                            <td>{{ invoiceDetail.unitPrice }}</td>
                            <td>{{ invoiceDetail.discount }}</td>
                            <td>{{ invoiceDetail.totalDiscount }}</td>
                            <td>{{ invoiceDetail.taxable }}</td>
                            <td>{{ invoiceDetail.codVat }}</td>
                            <td>{{ invoiceDetail.totalVat }}</td>
                            <td>{{ invoiceDetail.totalLine }}</td>
                            <td><button (click)="editPrevisionalInvoiceDetail(invoiceDetail)">Edit</button></td>
                            <td><button (click)="deletePrevisionalInvoiceDetail(invoiceDetail)">Delete</button></td>
                        </tr>
                    </tbody>
                    <!-- <td>
                        <div *ngFor="let skill of skills | async">
                            <div *ngIf="skill.id == question.idSkill">
                                    {{ skill.description }}
                            </div>
                        </div>
                    </td> -->
                </table>
            </div>

            <!-- <button onclick="myFunctionOpen()">AGGIUNGI PRODOTTO</button> -->
            <div ><!-- id="myDIV" --> 
                <form [formGroup]="invoiceDetailForm" (ngSubmit)="addProvisionalInvoiceDetail()">
                    <div>
                        <label>Seleziona articolo da aggiungere:</label>
                        <select formControlName="codItem" #itemSelected>
                            <option *ngFor="let item of items | async" value="{{item.codItem}}">{{item.description}}</option>
                        </select>
                    </div>
                    <div *ngFor="let item of items | async">
                        <div *ngIf="item.codItem == itemSelected.value">
                            <div>
                                <input placeholder="Descrizione" formControlName="description" [value]="item.description">
                                <input placeholder="Unità di misura" formControlName="measure" [value]="item.measure">
                                <input placeholder="Iva" formControlName="codVat" [value]="item.vat">
                                <input placeholder="Prezzo" formControlName="unitPrice" [value]="item.price">
                            </div>
                            <div>
                                <input placeholder="Quantità" formControlName="quantity">
                            </div>
                            <div>
                                <input placeholder="Lotto" formControlName="lot">
                                <input type="date" placeholder="Scadenza" formControlName="expiry">
                            </div>
                            <div>
                                <input placeholder="Sconto" formControlName="discount">
                            </div>
                            <button type="submit">AGGIUNGI</button> &nbsp;
                        </div>
                    </div>
                </form>
            </div>
        </igx-tabs-group>
        
        
        <igx-tabs-group label="SUMMARY">
            <form [formGroup]="invoiceSummaryForm" (onChange)="prova()">
                <div>
                    <label>Totale prodotti: </label>
                    <input placeholder="Totale prodotti" formControlName="totalProducts">
                    <label>Totale servizi: </label>
                    <input placeholder="Totale servizi" formControlName="totalServices">
                </div>
                <div>
                    <label>Sconto di coda: </label>
                    <input placeholder="Sconto di coda" formControlName="tailDiscount">
                    <label>Totale sconto di coda: </label>
                    <input placeholder="Totale sconto di coda" formControlName="totalTileDiscount">
                </div>
                <div>
                    <label>Totale sconto di riga: </label>
                    <input placeholder="Totale sconto di riga" formControlName="totalLineDiscount">
                </div>
                <div>
                    <label>Totale sconto: </label>
                    <input placeholder="Totale sconto" formControlName="totalDiscount">
                </div>
                <div>
                    <label>Imponibile: </label>
                    <input placeholder="Imponibile" formControlName="taxable">
                </div>
                <div>
                    <label>Totale IVA: </label>
                    <input placeholder="Totale IVA" formControlName="totalVat">
                </div>
                <div>
                    <label>TOTALE FATTURA: </label>
                    <input placeholder="TOTALE FATTURA" formControlName="totalAmount">
                </div>
                <!-- <button type="submit">AGGIUNGI</button> &nbsp; -->
            </form>
        </igx-tabs-group>
    </igx-tabs>
    
    
    </div>
    