igx-tabs {
    display: block;

    + igx-tabs {
        margin-top: 120px;
    }
}

igx-tabs-group {
    padding: 8px;
}

button{
    -moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}