<div class="prova">
  <div class="col">
    <nav class="  fixed-top navbar navbar-light bg-light shadow-lg p-3 mb-5 bg-white rounded">
      <li><a href="/home"><img src="/assets/logo.png" width="70" height="40" class="d-inline-block align-top"
            alt="logo"></a></li>
      <a class="navbar-brand">
        <label class="titolo"> MFL Management</label>
      </a>
      <li><button type="button" class="btn btn-primary colo2 " routerLink="profilo">
          <font color="white">Profilo</font>
        </button></li> &nbsp;
      <li><button type="button" class="btn btn-primary colo2 " routerLink="logOut">
          <font color="white">Logout</font>
        </button></li>

    </nav>

  </div>

  <div class="row">
    <div class="col-sm"><br></div>
  </div>
  <router-outlet></router-outlet>
</div>