<div class="form-style-9">
    <form [formGroup]="itemForm" (ngSubmit)="save()">
        <h1  class="colo">Crea Articolo</h1>
        <ul>
            <li>
                <label for="inp" class="inp">
                    <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="codItem">
                    <span class="label">Codice articolo</span>
                    <span class="focus-bg"></span>
                </label>
                &nbsp;&nbsp;
                <label for="inp" class="inp">
                    <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="description">
                    <span class="label">Descrizione</span>
                    <span class="focus-bg"></span>
                </label>
                &nbsp;&nbsp;
                <label for="inp" class="inp">
                    <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="type">
                    <span class="label">Tipo</span>
                    <span class="focus-bg"></span>
                </label>
            </li>
            <li>
                <label for="inp" class="inp">
                    <select formControlName="category" class="form-control">
                        <option value="" disabled selected>Categoria</option>
                        <option *ngFor="let category of categories | async" value="{{category.codCategory}}">
                            {{category.description}}</option>
                    </select>
                </label>
                &nbsp;&nbsp;
                <label for="inp" class="inp">
                    <select formControlName="measure" class="form-control">
                        <option value="" disabled selected>Unità di misura</option>
                        <option *ngFor="let measure of measures | async" value="{{measure.codMeasure}}">
                            {{measure.description}}</option>
                    </select>
                </label>
                &nbsp;&nbsp;
                <label for="inp" class="inp">
                    <select formControlName="vat" class="form-control">
                        <option value="" disabled selected>IVA</option>
                        <option *ngFor="let vat of vat | async" value="{{vat.codVat}}">
                            {{vat.vat}}</option>
                    </select>
                </label>
            </li>
            <li>
                <label for="inp" class="inp">
                    <input type="number" id="inp" placeholder="&nbsp;" name="field1" formControlName="price">
                    <span class="label">Prezzo</span>
                    <span class="focus-bg"></span>
                </label>
                &nbsp;&nbsp;
                <label for="inp" class="inp">
                    <input type="number" id="inp" placeholder="&nbsp;" name="field1" formControlName="discount">
                    <span class="label">Sconto</span>
                    <span class="focus-bg"></span>
                </label>
            </li>
           
        <input class="btn btn-primary" type="submit" value="SALVA" />
        &nbsp;&nbsp;
        <input class="btn btn-danger" type="button" routerLink="/items" value="ANNULLA">
      
        </ul>
    </form>
</div>