<h1>CREATE VAT</h1>
<div class="corpo">


<form [formGroup]="vatForm" (ngSubmit)="save()">
    <div >
        <!-- <label><b>Type:</b></label> -->
        <input placeholder="cod vat" formControlName="codVat">
    </div>
    <br>
    <div>
        <!-- <label><b>Type:</b></label> -->
        <input placeholder="vat" formControlName="vat">
    </div>
    <br>
    <div>
        <!-- <label><b>Type:</b></label> -->
        <input placeholder="note" formControlName="note">
    </div>
    <br>
    <br>
    <button type="submit">SAVE</button> &nbsp;
    <button type="button" routerLink="/vat">ANNULLA</button>
</form>
</div>
