<div class="form-style-9">
  <form [formGroup]="vatForm" (ngSubmit)="save()">
  <h1 class="colo">Modifica IVA</h1>
  <label><b>Codice IVA: {{ vatForm.value.codVat }}</b></label>
  <ul>
  <li>

        <label for="inp" class="inp">
          <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="vat">
          <span class="label">IVA</span>
          <span class="focus-bg"></span>
        </label>
        &nbsp;&nbsp;
        <label for="inp" class="inp">
          <input type="text" id="inp" placeholder="&nbsp;" name="field1" formControlName="note">
          <span class="label">Note</span>
          <span class="focus-bg"></span>
        </label>
        &nbsp;&nbsp;

      </li>

      
        <input class="btn btn-primary" type="submit" value="SALVA" />&nbsp;&nbsp;
        <input class="btn btn-danger" type="button" routerLink="/vat" value="ANNULLA">
      
    </ul>
  </form>
</div>